name: Trigger Jenkins Job

on:
  push:
    branches:
      - remove-jenkinsfile
    # paths:
    #   - superstream-clients/pom.xml

jobs:
  trigger-jenkins:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Trigger Jenkins Job
        env:
          JENKINS_TOKEN: ${{ secrets.JENKINS_TOKEN }}
        run: |
          curl -X POST https://jenkins.superstream.ai/job/DevOps/job/Superstream/job/SDK/job/buildWithParameters?DEPLOYMENT_TYPE=production \
          --user "team@superstream.ai:$JENKINS_TOKEN" \
          --header "Content-Type: application/json"